{
    
    "presets": [["@babel/preset-env", 
        {"targets": {
          "chrome": "60"
        }}], "@babel/preset-react", ["react-app"]],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-proposal-optional-chaining"
    ]
  }